# Ignore Python compiled files
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
env/
.env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore logs and databases
*.log
*.sql
*.sqlite

# Other common files to ignore
.coverage
htmlcov/

# Ignore folders
runs/
results/

# Ignore model files
*.pt
*.pth
*.ckpt